<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBBwJbN404mV79qLjCWwAAy_Kplp_z4vE</string>
	<key>GCM_SENDER_ID</key>
	<string>901148475177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warehouse.app</string>
	<key>PROJECT_ID</key>
	<string>restapifirebase-719f9</string>
	<key>STORAGE_BUCKET</key>
	<string>restapifirebase-719f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:901148475177:ios:7b9458df37856740f68138</string>
	<key>DATABASE_URL</key>
	<string>https://restapifirebase-719f9-default-rtdb.firebaseio.com</string>
</dict>
</plist>